.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
 /*background-color: #fff;*/
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn, .searchquery{
    margin-top: 1em;
    font-size: 1rem;
    border-radius: 0.33em;
    font-family: inherit;
    background: #001F5B;
    color: #fefefe;
    padding: 0.75rem;
    border: 0;
}
.center{
  text-align: center;
}
.no-up-margin{
    margin-top: 0;
}
#homepage-main-and-footer{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-image: url('/archives/images/banner.jpg');
}
.top-section-main{
  height: 35vh;
}
.second-section-main{
  background-color: #fff;
  padding: 1rem 0.5rem 1rem 1rem;
}
.splash-title{
  background-color: rgba(255, 255, 255, 0.8); /* home page background transpancy */
  padding: 1rem 2rem;
  max-width: 40rem;
  margin: 6rem auto 2rem auto;
  text-align: center;
}


.nobackground{
  background: none;
}

#radioscope{
  border: none;
  width:100%;
}
#announcement{
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  min-height: 2rem;
}
#announcement:not(:empty){
  background-color: rgba(255, 255, 255, 0.8); /* home page background transpancy */
}

/* just boxes */

.card {
  position: relative;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  padding:1em;
  margin: 0 0.5rem 1rem 0;
  height: 25rem;
  overflow: hidden;
}
.jacket-title{
  border-radius: 0 0 2px 2px;
  padding:1rem;
  width:100%;
  bottom:0;
  position:absolute;
  background:rgba(255,255,255,0.93);
}
.jacket-title p{
    font-size: 11pt;
    margin-top:0.5rem;
}