.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
 /*background-color: #fff;*/
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn, .searchquery{
    margin-top: 1em;
}

.no-up-margin{
    margin-top: 0;
}

#homepage-main-and-footer{
  background-image: url('/images/img_9.png');
  background-repeat: no-repeat;
  margin-top: 0;
}
.main {
  background: none;
}
.searchbox{
  background-color: rgba(255, 255, 255, 0.8); /* home page background transpancy */
  padding: 2em;
}
.nobackground{
  background: none;
}

#radioscope{
  border: none;
}