.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
 /*background-color: #fff;*/
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn, .searchquery{
    margin-top: 1em;
}

.no-up-margin{
    margin-top: 0;
}

#homepage-main-and-footer{
  background-image: url('/images/img_9.png');
  background-repeat: repeat-x;
  margin-top: 0;
}
.main {
  background: none;
}
.searchbox{
  background-color: rgba(255, 255, 255, 0.8); /* home page background transpancy */
  padding: 2em;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.nobackground{
  background: none;
}

#radioscope{
  border: none;
  width:100%;
}
#announcement{
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  min-height: 2rem;
}
#announcement:not(:empty){
  background-color: rgba(255, 255, 255, 0.8); /* home page background transpancy */
}

.reference-text{
  width: 10rem;
  float: left;
}
.reference-img {
  width: 2rem;
  float: right;
}
.pull-left{
  width:50%;
  float: left;
}
.pull-right{
  width: 50%;
  float: right;
}
#blog-jacket{
  height: 100%;
}

#blog-jacket img{
  max-width: none;
  height: 100%;
}
/* Grid System for homepage */
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas:
    "Area-1 Area-2 Area-3"
    "Area-4 Area-5 Area-6";
}

.Area-1 { grid-area: Area-1; margin-top: 0;}
.Area-2 { grid-area: Area-2; margin-top: 0;}
.Area-3 { grid-area: Area-3; margin-top: 0;}
.Area-4 { grid-area: Area-4; }
.Area-5 { grid-area: Area-5; }
.Area-6 { grid-area: Area-6; }

/* just boxes */

.card {
    position: relative;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding:1em;
    margin: 0 0.5rem 1rem 0;
    height: 25rem;
    overflow: hidden;
}
.jacket-title{
  border-radius: 0 0 2px 2px;
  padding:1rem;
  width:100%;
  bottom:0;
  position:absolute;
  background:rgba(255,255,255,0.93);
}
.jacket-title p{
    margin-top:0.5rem;
}

/* Media queries */
@media screen and (max-width: 60rem) {
/* Grid System for homepage */
.grid-container {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "Area-1"
    "Area-2"
    "Area-3"
    "Area-4"
    "Area-5"
    "Area-6";
  }
}

/* Grid for IE 10/11 not responsive */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .grid-container{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 1fr 1fr;
    }
    .Area-1 {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    .Area-2 {
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    .Area-3 {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    .Area-4 {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    .Area-5 {
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    .Area-6 {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row: 2;
      grid-row: 2;
    }    
    .box{
      border: 1px solid;
      clear:right;
      float:left;
    }
}