<header class="intro-and-nav" role="banner">
  <!-- h1 visually hidden for compliance -->
    <h1 class="visually-hidden">
      {{- if .IsHome -}}
        {{- if .Title -}}
          {{- .Title -}}
        {{- else -}}
          {{- .Site.Title -}}
        {{- end -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
    </h1>
  <div>
    <div class="intro">
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        <img src="{{ "images/logo-stacked-Penrose.png" | relURL }}" alt="Whitman College Logo">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
