<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ if .Site.Params.gtm_id}}<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{ end }}
    <a href="#main">{{ T "skip_to_content" }}</a>
    
    <!-- ADD THIS VISUALLY HIDDEN H1 HERE -->
    <h1 class="visually-hidden">
      {{- if .IsHome -}}
        {{- if .Title -}}
          {{- .Title -}}
        {{- else -}}
          {{- .Site.Title -}}
        {{- end -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
    </h1>
    
    {{ partial "noscript.html" . }}
    {{ partial "svg.html" . }}
    <div class="wrapper">
      {{ partial "header.html" . }}  
      
      <main id="main" role="main">
        {{ define "pageheader" }}
          <div id="main-title" aria-hidden="false">
            {{ if .IsHome }}
              {{ if .Title }}
                <h1>{{ .Title }}</h1>
              {{ else }}
                <h1>{{ .Site.Title }}</h1>
              {{ end }}
       {{ else }}
         <h1>{{ .Title }}</h1>
      {{ end }}
    </div>
{{ end }}
          {{ block "main" . }}{{ end }}
          {{ if ne .Site.Params.moveFooterToHeader true }}
            {{ partial "footer.html" . }}
          {{ end }}
    </div>
    {{ partial "script.html" . }}
    {{ partial "katex.html" . }}
    {{ partial "google-analytics-async.html" . }}
    {{ partial "matomo.html" . }}
  </body>
</html>
