<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ if .Site.Params.gtm_id}}<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{ end }}
    <a href="#main">{{ T "skip_to_content" }}</a>
    {{ partial "noscript.html" . }}
    {{ partial "svg.html" . }}
    <div class="wrapper">
      {{ partial "header.html" . }}
          {{ block "main" . }}{{ end }}
          {{ if ne .Site.Params.moveFooterToHeader true }}
            {{ partial "footer.html" . }}
          {{ end }}
    </div>
    {{ partial "script.html" . }}
    {{ partial "katex.html" . }}
    {{ partial "google-analytics-async.html" . }}
    {{ partial "matomo.html" . }}
  </body>
</html>
